/* colors */
$white: #fff;
$black:#000;
$accent: #005FA3;
$navColor: #222222;
$titleColor: #333333;

/* width */

$container:1116px;




:root{
    --white: #fff;
    --accent: #005FA3;
    --navColor: #222222;
    --titleColor:#333333;
    --bgcolor:#EBEBEB;
}
