.navlink{
    &__list{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        padding-top: 21px;
    }
    &__li{
        span{
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }
}