.Footer{
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 50px 0 40px 0;
    }
    &__Inc{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
    }
    &__Company{
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
    }
}